---
    // Importiere das Layout
    import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout>
    <h2>Willkommen bei Stats</h2>
    <p>Hier kommen irgendwann mal Statistiken hin</p>
</MainLayout>